@model CouncilMvc.Models.HomeChatDetailViewModel
@{
    ViewData["Title"] = "Chat Detail";
}

<h2>@Model.User.FirstName @Model.User.LastName <span> &#64;@Model.Messages.FirstOrDefault().Account.AccountNumber</span></h2>

<div class="container-m">
    <div class="input-message">
        <form action="/Home/SendPrivateMessage" method="post">
            <input type="text" name="AccountID" value="@Model.Messages.FirstOrDefault().Account.AccountID" asp-controller="Home" asp-action="SendMessage" style="visibility: hidden;" class="hidden-input">

            <input type="text" placeholder="new message" class="text-input" name="Content" id="text-input" value="" onfocus="myFunction" autocomplete="off" >

            @* <input type="submit" value="Send" id="sendButton" > *@
            <button type="submit" id="sendButton"><span class="material-symbols-outlined" >
send
</span></button>
        </form>
    </div>
    <div class="messages">
        @foreach (var message in Model.Messages)
        {
            if (message.FromUser == true)
            {
                <div class="user-message" >
                    <div class="header">@message.DateSent</div><br>
                    <div class="body">
                        <p class="text">@message.Content</p>
                    </div>
                </div>
            }
            else
            {
                <div class="council-message" >
                    <div class="time">@message.DateSent</div><br>
                    <div class="body">
                        <p class="text">@message.Content</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!--<script src="/lib/signalr/signalr.js"></script>
<script src="/js/chat.js" defer></script> --> 
